<!-- src/templates/Administration.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Страница администрирования</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    </head>
<body>
    <h1>Панель администрирования</h1>

    <h2>Пользователи:</h2>
    <ul>
        {% for user in users %}
            <li>
                <a href="{{ url_for('channel', username=user.username) }}">{{ user.username }}</a> 
                <a href="{{ url_for('edit_user', user_id=user.id) }}"><img src="{{ url_for('static', filename='edit.png') }}" alt="Редактировать" width="20"></a> 
            </li>
        {% endfor %}
    </ul>

    <h2>Видео:</h2>
    <ul>
        {% for video in videos %}
            <li>
                {{ video.title }} (автор: <a href="{{ url_for('channel', username=video.author.username) }}">{{ video.author.username }}</a>) 
                <a href="{{ url_for('edit_video', video_id=video.id) }}"><img src="{{ url_for('static', filename='edit.png') }}" alt="Редактировать" width="20"></a> 
            </li>
        {% endfor %}
    </ul>
</body>
</html>