<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.username }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='channel_page.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1><a href="/">NeTube</a></h1> 
        <a href="/login">
            {% if current_user %}
                <img src="{{ url_for('serve_avatars', filename=current_user.avatar) if current_user.avatar else url_for('serve_avatars', filename='plus.png') }}" alt="Аватар" width="30" height="30">
                <a href="{{ url_for('channel', username=current_user.username) }}">Профиль</a>
                <a href="{{ url_for('logout') }}">Выйти</a>
            {% else %}
                <img src="{{ url_for('serve_avatars', filename='question.png') }}" alt="Войти" width="30" height="30">
            {% endif %}
        </a>
    </header>

    <div class="channel-container">
        <h2>@{{ Markup(user.username) }}</h2>
        {% if current_user and current_user.username == user.username %}
            <form action="/channel/{{ user.username }}/avatar" method="POST" enctype="multipart/form-data">
                <input type="file" name="avatar">
                <button type="submit">Загрузить аватар</button>
            </form>

            <a href="/upload">Загрузить видео</a>
        {% endif %}

        <div class="video-container">
            {% for video in videos %}
            <div class="video-preview">
                <a href="{{ url_for('video', video_name=video.url) }}">
                    <img src="{{ url_for('serve_thumbnails', filename=video.url[:-4] + '.jpg') }}" alt="{{ video.title }}" width="320" height="180">
                </a>
                <h3>{{ video.title }}</h3>
                <p>Лайки: {{ video.likes }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    {% if 'logged_in' in session and user.id == session['user_id'] %}
        <!-- <a href="{{ url_for('logout') }}" style="display: block; text-align: center; margin-top: 20px;">Выйти</a>  -->
    {% endif %}
</body>
</html>