<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='auth_page.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    
    <h1>Вход</h1>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Имя пользователя">
        <input type="password" name="password" placeholder="Пароль">
        <button type="submit">Войти</button>

        <p>Нет аккаунта? <a href="/register">Зарегистрируйтесь</a></p>
    </form>
</body>
</html>