<!-- src/templates/video.html -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ video.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='video_page.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1><a href="/">NeTube</a></h1> 
        <a href="/login">
            {% if current_user %}
                <img src="{{ url_for('serve_avatars', filename=current_user.avatar) if current_user.avatar else url_for('serve_avatars', filename='plus.png') }}" alt="Аватар" width="30" height="30">
            {% else %}
                <img src="{{ url_for('serve_avatars', filename='question.png') }}" alt="Войти" width="30" height="30">
            {% endif %}
        </a>
    </header>

    <div class="main-container">
        <div class="video-section">
            <div class="video-info">
                <video width="640" height="360" controls>
                    <source src="{{ url_for('serve_videos', filename=video.url) }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <h2>{{ video.title }}</h2>
                <div class="author-info">
                    <a href="{{ url_for('channel', username=video.author.username) }}">
                        <img src="{{ url_for('serve_avatars', filename=video.author.avatar) if video.author.avatar else url_for('serve_avatars', filename='plus.png') }}" alt="Аватар автора" width="30" height="30">
                        <a  href="{{ url_for('channel', username=video.author.username) }}">@{{ Markup(video.author.username) }}</a>
                    </a>
                    <div class="likes-dislikes">
                        <a href="{{ url_for('like_video', video_name=video.url) }}">
                            <button class="like-button"><img src="{{ url_for('serve_avatars', filename='like.png') }}" width="15" height="15"> {{ video.likes }}</button>
                        </a>
                        <a>⁄</a>
                        <a href="{{ url_for('dislike_video', video_name=video.url) }}">
                            <button class="dislike-button"><img src="{{ url_for('serve_avatars', filename='dislike.png') }}" width="15" height="15"> {{ video.dislikes }}</button>
                        </a>
                    </div>
                </div>
                <p class="description">{{ video.description }}</p>
                <button class="show-more">Показать больше</button>
            </div>
        </div>

        <div class="related-videos">
            <h2>Другие видео</h2>
            <ul>
                {% for related_video in related_videos %}
                    <li>
                        <a href="{{ url_for('video', video_name=related_video.url) }}">
                            <img src="{{ url_for('serve_thumbnails', filename=related_video.url[:-4] + '.jpg') }}" alt="{{ related_video.title }}" width="180" height="150">
                        </a>
                        <div>
                            <a href="{{ url_for('video', video_name=related_video.url) }}">
                                <span><b>{{ related_video.title }}</b></span>
                            </a>

                            <p style="color:#242424;"><br><a href="{{ url_for('channel', username=related_video.author.username) }}">@{{ Markup(related_video.author.username) }}</a> • {{ related_video.likes }} Likes </p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <script>
        document.querySelector('.show-more').addEventListener('click', function() {
            const description = document.querySelector('.description');
            description.classList.toggle('expanded');
            this.textContent = description.classList.contains('expanded') ? 'Показать меньше' : 'Показать больше';
        });
    </script>
</body>
</html>
