{% extends 'base.html' %}

{% block title %}Главная - NeTube{% endblock %}

{% block content %}
{% if search_results %}
    <h2 class="text-xl font-bold mb-4">Результаты поиска: {{ search_query }}</h2>
    <div class="flex flex-col space-y-6">
        {% for video in search_results %}
        <div class="flex bg-white shadow-md rounded-md overflow-hidden">
            <!-- Видео превью -->
            <a href="{{ url_for('video_bp.video', video_name=video.url) }}" class="w-64 flex-shrink-0">
                <img src="{{ url_for('static_bp.serve_thumbnails', filename=video.url[:-4] + '.jpg') }}" alt="{{ video.title }}" class="w-full h-40 object-cover">
            </a>

            <!-- Описание видео -->
            <div class="flex flex-col justify-between p-4 flex-grow">
                <div>
                    <!-- Название видео -->
                    <h3 class="text-xl font-semibold">
                        <a href="{{ url_for('video_bp.video', video_name=video.url) }}" class="hover:text-blue-600">
                            {{ video.title }}
                        </a>
                    </h3>
                    <!-- Автор видео -->
                    <p class="text-base text-gray-600 mb-2">
                        <a href="{{ url_for('channel_bp.channel', username=video.author.username) }}" class="inline-flex items-center">
                            <img src="{{ url_for('static_bp.serve_avatars', filename=video.author.avatar) if video.author.avatar else url_for('static_bp.serve_avatars', filename='plus.png') }}" class="w-8 h-8 rounded-full object-cover mr-2">
                            @{{ video.author.username }}
                        </a>
                    </p>
                </div>
                <!-- Статистика -->
                <p class="text-base text-gray-600">
                    {{ video.views }} просмотров • {{ video.likes }} лайков
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
  {% for video in videos %}
                <div class="video-preview bg-white shadow-md rounded-lg hover:shadow-xl transition duration-300">

                    <!-- Превью видео -->
                    <a href="{{ url_for('video_bp.video', video_name=video.url) }}" class="block">
                        <img src="{{ url_for('static_bp.serve_thumbnails', filename=video.url[:-4] + '.jpg') }}" alt="{{ video.title }}" class="w-full h-48 object-cover rounded-t-lg">
                    </a>

                    <!-- Описание видео -->
                    <div class="p-4">
                        <h3 class="text-lg font-semibold text-gray-800">
                            <a href="{{ url_for('channel_bp.channel', username=video.author.username) }}" class="flex items-center space-x-2">
                                <img src="{{ url_for('static_bp.serve_avatars', filename=video.author.avatar) if video.author.avatar else url_for('static_bp.serve_avatars', filename='plus.png') }}" class="w-8 h-8 rounded-full object-cover">
                                <span>{{ video.title }}</span>
                            </a>
                        </h3>
                        <p class="text-sm text-gray-600">
                            <a href="{{ url_for('channel_bp.channel', username=video.author.username) }}" class="hover:underline">@{{ video.author.username }} • {{ video.views }} просмотров • {{ video.likes }} лайков</a>
                        </p>
                    </div>
                </div>
            {% endfor %}
    </div>
{% endif %}
{% endblock %}
