/* src/static/auth_page.css */
body {
    font-family: 'Roboto', sans-serif; /* Use Roboto font */
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

h1 {
    margin-top: 100px; 
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    font-weight: 700; /* Bold title */
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px; /* Slightly larger input font size */
    color: #333;
}

button[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 16px; /* Larger button font size */
    font-weight: 700; /* Bold button text */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

button[type="submit"]:hover {
    background-color: #45a049; /* Slightly darker green on hover */
}

p {
    margin-top: 10px;
    font-size: 14px; /* Smaller font size for paragraphs */
    color: #555; /* Darker gray for paragraphs */
}

p a {
    text-decoration: none;
    color: #386125; /* Green for links */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

p a:hover {
    color: #45a049; /* Darker green on hover */
}