body {
    font-family: 'Material Icons', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    margin-left: 15px;
}

header nav a img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.channel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.channel-container h2 {
    margin-bottom: 10px;
    font-size: 22px;
    color: #333;
}

.upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.upload-button, .submit-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50; /* Зеленый цвет */
    border: none;
    border-radius: 4px; /* Более скругленные углы */
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Добавляем transition для box-shadow */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Тень */
}

.upload-button:hover, .submit-button:hover {
    background-color: #45a049; /* Более темный зеленый при наведении */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Увеличиваем тень при наведении */
}

.upload-button i, .submit-button i {
    margin-right: 5px;
    font-size: 18px;
}

.upload-button:hover, .submit-button:hover {
    background-color: #0056b3;
}

.upload-button i, .submit-button i {
    margin-right: 5px;
    font-size: 18px;
}

.video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    color: inherit;
    text-decoration: none;
}

.video-preview {
    width: 320px;
    margin: 15px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffffff00;
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 5px;
    color: inherit;
    text-decoration: none;
}

header a:link, header a:visited {
    color: inherit;
    text-decoration: none;
}

header a:hover, header a:active {
    color: inherit;
    text-decoration: none;
}

.video-preview:hover {
    transform: scale(1.0);
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    color: inherit;
    text-decoration: none;
}

.video-preview img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s;
}

.video-preview:hover img {
    transform: scale(1.01);
    color: inherit;
    text-decoration: none;
}

.video-preview h3 {
    margin: 10px 0 5px;
    font-size: 16px;
    color: #333;
    display: flex;
    align-items: center;
}

.video-preview h3 img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.video-preview p {
    margin: 0;
    font-size: 14px;
    color: #666;
}

header a:link, header a:visited {
    color: inherit;
    text-decoration: none;
}

header a:hover, header a:active {
    color: inherit;
    text-decoration: none;
}

#avatar-button {
    border-radius: 50%; /* Скругление в форме круга */
    border: none; /* Убираем границу */
    padding: 0; /* Убираем внутренние отступы */
    background: none; /* Убираем фоновый цвет */
    cursor: pointer; /* Изменяем курсор на указатель */
}

#avatar-button:hover {
    /* Добавьте стили при наведении курсора, например, изменение цвета */
    transform: scale(1.01);
}

.subscribe-button {
    background-color: #ff0000; /* Синий цвет */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer;
}

.unsubscribe-button {
    background-color: #3e3e3e; /* Красный цвет */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

img {
    border-radius: 50%
}