/* src/static/styles.css */

/* Общие стили */
body {
    font-family: 'Material Icons', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none; /* Убираем подчеркивания у всех ссылок */
    color: inherit;
}

a:link, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}
