/* src/static/styles.css */

.body {
    font-family: 'Material Icons', sans-serif;
}

#menu-overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Начальное состояние: прозрачный фон */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
    opacity: 0; /* Начальное состояние: невидимый */
    pointer-events: none; /* Начальное состояние: не реагирует на клики */
    transition: opacity 0.15s ease-in-out; /* Плавное изменение прозрачности */
}

#menu-overlay.open {
    opacity: 1; /* Открытое состояние: видимый */
    pointer-events: auto; /* Открытое состояние: реагирует на клики */
    background-color: rgba(0, 0, 0, 0.5); /* Открытое состояние: полупрозрачный фон */
}

#menu-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px; /* Скругленные углы */
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column; /* Располагаем блоки вертикально */
}

#menu-content > * { /* Выбираем все прямые дочерние элементы #menu-content */
    margin-bottom: 15px; /* Отступ между блоками */
    /* border-bottom: 1px solid #ccc; Разделительная линия */
    /* padding-bottom: 15px; Отступ снизу от линии */
}

#menu-content > *:last-child { /* Убираем линию у последнего блока */
    border-bottom: none;
    margin-bottom: 0;
}

.menu-block { 
    /* padding: 10px;  */
    box-sizing: border-box; /* Добавляем эту строку */
}

.separator { 
    width: auto; /* Например, 90% от ширины #menu-content */
    border-bottom: 1px solid #ccc; 
}

.vert-separator {
    height: 30px; /* Высота сепаратора */
    width: 1px; /* Толщина линии */
    background-color: #ccc; /* Цвет линии */
    margin: 15px auto; /* Отступы сверху/снизу, центрирование по горизонтали */
}

.hidden {
    display: none;
}


.user-info {
    display: flex; /* Располагаем аватарку и детали пользователя в строку */
    align-items: center; /* Вертикальное выравнивание */
}

.user-details {
    margin-left: 10px;
    display: flex;
    flex-direction: column; /* Располагаем тег и подписчиков вертикально */
}

.username {
    font-size: 18px; /* Уменьшаем размер шрифта для подписчиков */
    margin-bottom: 5px;
    font-weight: 500; /* Выделяем имя пользователя */
}

.subscribers {
    font-size: 15px; /* Уменьшаем размер шрифта для подписчиков */
    color: #666; /* Делаем текст подписчиков менее заметным */
}

a {
    display: flex;
    align-items: center; 
}

.a img {
    border-radius: 0%;
}


#subscribe-button {
    background-color: #bdbdbdf9;
    border-radius: 50px;
    width: 140px;
    height: 30px;
    border: none;
}

#subscribe-button:hover {
    background-color: #808080;
    color: #fff;
}