body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .search-container {
    display: flex;
    align-items: center;
    vertical-align: center;
    margin: 0 auto; /* Центрируем контейнер */
}

header .search-container input[type="text"] {
    padding: 8px;
    width: 400px;
    vertical-align: center;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 13px;
}

header .search-container button {
    background-color: #ffffff;
    border: 1px solid #ccc;
    vertical-align: center;
    border-radius: 0 5px 5px 0;
    padding: 8px 12px;
    cursor: pointer;
}

header h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    margin-left: 15px;
}

header nav a img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.channel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.channel-container h2 {
    margin-bottom: 10px;
    font-size: 22px;
    color: #333;
}

.upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.upload-button, .submit-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50; /* Зеленый цвет */
    border: none;
    border-radius: 4px; /* Более скругленные углы */
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Добавляем transition для box-shadow */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Тень */
}

.upload-button:hover, .submit-button:hover {
    background-color: #45a049; /* Более темный зеленый при наведении */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Увеличиваем тень при наведении */
}

.upload-button i, .submit-button i {
    margin-right: 5px;
    font-size: 18px;
}

.upload-button:hover, .submit-button:hover {
    background-color: #0056b3;
}

.upload-button i, .submit-button i {
    margin-right: 5px;
    font-size: 18px;
}

.video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.video-preview {
    width: 320px;
    margin: 15px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffffff00;
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 5px;
}

header a:link, header a:visited {
    color: inherit;
    text-decoration: none;
}

header a:hover, header a:active {
    color: inherit;
    text-decoration: none;
}

.video-preview:hover {
    transform: scale(1.0);
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.video-preview img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s;
}

.video-preview:hover img {
    transform: scale(1.01);
}

.video-preview h3 {
    margin: 10px 0 5px;
    font-size: 16px;
    color: #333;
    display: flex;
    align-items: center;
}

.video-preview h3 img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.video-preview p {
    margin: 0;
    font-size: 14px;
    color: #666;
}

.subscribe-button {
    background-color: #ff0000; /* Синий цвет */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer;
}

.unsubscribe-button {
    background-color: #3e3e3e; /* Красный цвет */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer;
}

h1 {
    color: #333;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 250px); /* Высота окна браузера минус высота header */
    padding-top: 10px; /* Отступ сверху */
}
form {
    width: 100%;
    max-width: 500px;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"],
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="file"] {
    margin-bottom: 15px;
}

button[type="submit"] {
    padding: 12px 20px;
    background-color: #448aff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3367d6;
}

.loading-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.loading-spinner {
    width: 60px;
    height: 60px;
    border: 5px solid #ccc;
    border-radius: 50%;
    border-top-color: #007bff;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}