/* src/static/video_page.css */
body {
    font-family: 'Moderustic', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}


header h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

header a:link, header a:visited {
    color: inherit;
    text-decoration: none;
}

header a:hover, header a:active {
    color: inherit;
    text-decoration: none;
}

header img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.main-container {
    display: flex;
    padding: 20px;
}

.video-section {
    flex: 2;
    margin-right: 20px;
    margin-left: 10px; /* Отступ справа от левого края экрана */
    margin-top: 10px; /* Отступ снизу от шапки */
}

.video-info {
    /* background-color: #fff; */
    /* padding: 20px; */
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    max-width: 1280px; 
}

.video-info video {
    width: 100%;
    height: 100%;
    max-width: 1280px;
    max-height: 720px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-info h2 {
    margin: 20px 0 10px;
    font-size: 24px;
    color: #333;
}

.author-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.author-info img {
    border-radius: 50%;
    margin-right: 10px;
}

.author-info span {
    font-size: 16px;
    color: #333;
    margin-right: 20px;
    align-self: center; /* Центрирование тега автора по вертикали */
}

.likes-dislikes {
    display: flex;
    align-items: center;
    /* gap: 10px; */
    width: 150px;
    height: 30px;
    border-radius: 50px;
}

.likes-dislikes button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #333;
    height: 30px;
}

.description {
    color: #000000;
    background-color: #bdbdbd9f;
    padding: 10px;
    border-radius: 10px; 
    font-size: 16px;
    max-height: 60px;
    overflow: hidden;
    transition: max-height 0.3s;
}

.description.expanded {
    max-height: none;
}

.show-more {
    color: #000000;
    font-weight: 770;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.related-videos {
    width: auto;
    height: auto;
    padding: 20px;
    margin-top: 10px;
}

.related-videos h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.related-videos ul {
    list-style: none;
    padding: 0;
}

.related-videos ul li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    color: inherit;
}

.related-videos ul li * {
    margin-top: 0;
    vertical-align: top;
    color: inherit;
}

.related-videos ul li div {
    display: flex;
    flex-direction: column;
}

.related-videos ul li img {
    width: 120px;
    height: 70px;
    border-radius: 5px;
    margin-right: 10px;
}

.related-videos ul li a {
    font-size: 16px;
    color: inherit;
    text-decoration: none;
}

.related-videos ul li a:hover {
    text-decoration: underline;
    color: inherit;
}

/* video_page.css или channel_page.css */
.related-videos, .related-videos-mobile {
    position: relative; /*  Для абсолютного позиционирования */
    right: 0; /* Привязываем к правой границе */
    width: 25%; /* Ширина 25% */
    top: 0px; /* Позиционируем ниже видеоплеера */
    max-height: 80%; /* Максимальная высота */
    overflow-y: auto; /* Добавляем вертикальную прокрутку */
    display: none; /* Скрываем по умолчанию */
    z-index: 1; /* Устанавливаем z-index для наложения */
}

.video-section {
    width: 75%; /* Ограничиваем ширину видео */
    position: relative; /* Устанавливаем позиционирование для видео */
}

@media (max-width: 1080px) {
    .related-videos {
        display: block; /* Отображаем предложенные видео на экранах меньше 800px */
    }

    .video-section {
        width: calc(100% - 25%); /* Изменяем ширину видео */
    }
}

a {
    text-decoration: none; /* Убираем подчеркивания у всех ссылок */
    color: inherit;
}
a:link, a:visited, a:hover, a:active {
    text-align: left;
    color: inherit;
    text-decoration: none;
}

.vert-separator-description {
    height: 30px; /* Высота сепаратора */
    width: 1px; /* Толщина линии */
    background-color: #ccc; /* Цвет линии */
    /* margin: 15px auto; Отступы сверху/снизу, центрирование по горизонтали */
}

.comments {
    color: #000000;
    padding: 10px;
    border-radius: 10px; 
    font-size: 16px;
}

.comment-item {
    display: flex;
    align-items: flex-start; 
    margin-bottom: 10px;
}

.comment-item img {
    margin-right: 10px; 
}

.comment-content {
    flex: 1; /* Занимаем оставшееся пространство */
}

.comment-content a {
    text-decoration: none;
    color: rgb(0, 0, 0); 
}